
@card-prefix-cls: ~'centerm-card';
@card-posts-padding: 15px;

.@{card-prefix-cls} {
  box-sizing: border-box;
  padding: @card-posts-padding;

  &-meta {
    display: flex;
    align-items: center;
  }
}